<h3 class="text-muted">
	Categories:
</h3>
<div class="table">
	<table class="table-hover">
		<tr>
			<th>Name</th>
			<th>Description</th>
		</tr>
		<% @item_categories.each do |item_category| %>
		<tr>
			<td><%= item_category.name.titleize %></td>
			<td><%= item_category.description.titleize %></td>
		</tr>
		<% end %>
	</table>	
</div>
<br />
<%= link_to 'New Item category', new_item_category_path, class: "btn btn-primary btn-sm" %>