<h3 class="text-muted">
	About Us:
</h3>
<div class="lead well">
	<p>
		Clear Edge Technologies Inc<br />
		810-1001 13 Ave SW<br />
		Calgary, AB, T2R0L5<br />
		Canada<br />
		Phone: +1(403)274-9657<br />
		Email: <a href="mailto:info@clearedgetek.com">info@clearedgetek.com</a>
	</p>
</div>