<div class="page-header">
	<h3>Help, rather self-help</h3>
</div>
<blockquote>
	<p class="well">
		When all else fails, read the instructions.
		<small>
			Edward A. Murphy, Jr.
		</small>
	</p>
</blockquote>
<div class="well">
	<div class="row">
		<div class="col-sm-6">
			<h4>Todolist Workflow:</h4>	
			<p>Create favorite item list</p>
			<p>Copy all items or one item at a time from favorite list to todolist</p>
			<p>Mark the item as shared or private</p>
			<p>While in shop or doing online shopping</p>
			<p>Put item(s) in basket / shopping cart.</p>
			<p>Complete the item after putting relevant information in columns</p>
			<p>Track expenses in history</p>		
		</div>	
		<div class="col-sm-6">	
			<h4>Task Workflow:</h4>
			<p>Add a task</p>
			<p>Add items required to complete the task</p>
			<p>Add rental equipment needed for the subject task</p>
			<p>Add labor / contractor information required to complete the task</p>
			<p>Complete the task after making sure about all relevant information have been completed</p>
			<p>Track tasks and expenses in completed tasks</p>
		</div>	
	</div>
</div>
<div class="well">
	<div class="row">
		<div class="col-sm-12">
			<h4>
				Icons used and meaning (sort of):
			</h4>			
		</div>
		<div class="col-sm-6">
			<ul>
				<li>
					<i class="text-success glyphicon glyphicon-plus-sign"></i> Add
				</li>
				<li>
					<i class="text-info glyphicon glyphicon-heart"></i> Favorite
				</li>
				<li>
					<i class="text-danger glyphicon glyphicon-asterisk"></i> Item by your honey
				</li>
				<li>
					<i class="glyphicon glyphicon-wrench"></i> Item required for a Task
				</li>
				<li>
					<i class="glyphicon glyphicon-envelope"></i> Contact
				</li>
				<li>
					<i class="glyphicon glyphicon-user"></i> User / Profile
				</li>
				<li>
					<i class="glyphicon glyphicon-share"></i> Invite / Share
				</li>
				<li>
					<i class="glyphicon glyphicon-globe"></i> News
				</li>
				<li>
					<i class="glyphicon glyphicon-home"></i> Home
				</li>
			</ul>
		</div>
		<div class="col-sm-6">
			<ul>
				<li>
					<i class="glyphicon glyphicon-info-sign"></i> Help / Information
				</li>
				<li>
					<i class="text-info glyphicon glyphicon-transfer"></i> Copy / Transfer
				</li>
				<li>
					<i class="text-danger glyphicon glyphicon-trash"></i> Delete / Remove
				</li>
				<li>
					<i class="text-success glyphicon glyphicon-shopping-cart"></i> Put in Basket / Shopping cart
				</li>
				<li>
					<i class="text-success glyphicon glyphicon-save"></i> Mark Complete
				</li>
				<li>
					<i class="text-warning glyphicon glyphicon-hand-left"></i> Undo / Remove from basket and put item back on todolist
				</li>
				<li>
					<i class="text-danger glyphicon glyphicon-fire"></i> Overdue Task
				</li>
				<li>
					<i class="text-danger glyphicon glyphicon-off"></i> Signout
				</li>
			</ul>
		</div>
	</div>	
