<div class="page-header">
	<h3>Help, rather self-help</h3>
</div>
<blockquote>
	<p class="well">
		When all else fails, read the instructions.
		<small>
			Edward A. Murphy, Jr.
		</small>
	</p>
</blockquote>
<div class="well">
	<div class="row">
		<div class="span6">
			<h4>Todolist Workflow:</h4>	
			<p>Create favorite item list</p>
			<p>Copy all items or one item at a time from favorite list to todolist</p>
			<p>Mark the item as shared or private</p>
			<p>While in shop or doing online shopping</p>
			<p>Put item(s) in basket / shopping cart.</p>
			<p>Complete the item after putting relevant information in columns</p>
			<p>Track expenses in history</p>		
		</div>	
		<div class="span4">	
			<h4>Task Workflow:</h4>
			<p>Add a task</p>
			<p>Add items required to complete the task</p>
			<p>Add rental equipment needed for the subject task</p>
			<p>Add labor / contractor information required to complete the task</p>
			<p>Complete the task after making sure about all relevant information have been completed</p>
			<p>Track tasks and expenses in completed tasks</p>
		</div>	
	</div>
</div>
<div class="well">
	<div class="row">
		<div class="span9">
			<h4>
				Icons used and meaning (sort of):
			</h4>			
		</div>
		<div class="span6">
			<ul>
				<li>
					<i class="icon-plus"></i> Add
				</li>
				<li>
					<i class="text-info icon-heart"></i> Favorite
				</li>
				<li>
					<i class="text-error icon-asterisk"></i> Item by your honey
				</li>
				<li>
					<i class="icon-wrench"></i> Item required for a Task
				</li>
				<li>
					<i class="icon-envelope"></i> Contact
				</li>
				<li>
					<i class="icon-user"></i> User / Profile
				</li>
				<li>
					<i class="icon-share"></i> Invite / Share
				</li>
				<li>
					<i class="icon-globe"></i> News
				</li>
			</ul>
		</div>
		<div class="span4">
			<ul>
				<li>
					<i class="icon-info"></i> Help / Information
				</li>
				<li>
					<i class="text-info icon-copy"></i> Copy
				</li>
				<li>
					<i class="text-error icon-trash"></i> Delete
				</li>
				<li>
					<i class="text-success icon-shopping-cart"></i> Put in Basket / Shopping cart
				</li>
				<li>
					<i class="text-success icon-save"></i> Mark Complete
				</li>
				<li>
					<i class="text-warning icon-hand-left"></i> Undo / Remove from basket and put item back on todolist
				</li>
				<li>
					<i class="text-error icon-fire"></i> Overdue Task
				</li>
				<li>
					<i class="text-error icon-off"></i> Signout
				</li>
			</ul>
		</div>
	</div>	
