<h3 class="text-muted">
	List types:
</h3>
<table class="table table-striped">
    <tr>
      <th>Name</th>
      <th>Description</th>
    </tr>
    <% @list_types.each do |list_type| %>
      <tr>
        <td><%= list_type.name.titleize %></td>
        <td><%= list_type.description.titleize %></td>
      </tr>
    <% end %>
</table>
<br>

<%= link_to 'New List type', new_list_type_path, class: "btn btn-primary btn-sm" %>
