<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @contact_reason.name %>
</p>

<%= link_to 'Edit', edit_contact_reason_path(@contact_reason) %> |
<%= link_to 'Back', contact_reasons_path %>
