<h3 class="text-muted">
	Units:
</h3>
<table class="table table-striped">
    <% @units.each do |unit| %>
      <tr>
        <td><%= unit.name %></td>
      </tr>
    <% end %>
</table>

<br>

<%= link_to 'Add Unit', new_unit_path, class: "btn btn-primary btn-sm" %>
