<hr /><ul class="nav nav-pills">
	<li><%= link_to "contact us", new_contact_path %></li>
	<li><%= link_to "help", welcome_help_path %></li>
	<li class="pull-right">Clear Edge Techonolgies Inc.</li>
</ul>