<!DOCTYPE html>
<html>
<head>
	<%= render :partial => 'layouts/head' %>
</head>
<body>
	<%= render :partial => 'layouts/header' %>
	<div class="container">
		<div class="pull-right">
			<%#= all errors go here %>
		</div>
		<%= yield %>
	</div>
	<%= render :partial => 'layouts/footer' %>
</body>
</html>